.page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.popup {
    width: 600px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.05);
}

.head {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.label {
    width: 40%;
    font-size: 18px;
    color: black;
}

.input {
    width: 100%;
    height: 35px;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 18px;
}

.input:focus {
    background-color: rgba(173, 216, 230, 0.3);
}

.btn {
    background-color: white;
    font-size: 18px;
    width: 45%;
    height: 29px;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
    text-align: center;
}

.btn:hover {
    background-color: rgba(173, 216, 230, 0.5);
    border: 1px solid white;
}

.btns {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
}

.link {
    text-decoration: underline;
    cursor: pointer;
}

